.blockOnPrint{display:none}
.hideOnPrint{display:hide}
#top{display:none}
#navBar{display:none}
#navActions{display:none}

.bodyBackground{background:white}

iv, img, table, tr, td, form {
 	padding: 0;
 	margin: 0;
 	border: none;
 }