body {
  background-color: #f5f5f5;
  margin: 0;
}

h2, h3, h4, p, td, th, li {
  margin-left:      5px;
  margin-right:     5px;
  color:            #211e1e;
  font-size:        9pt;
  font-family:      Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}

h1, h2, h3, h4, th {
  font-weight: bold;
}

h1 {
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
  color: #ffffff;
  padding: 5px;
  background-color: #FE7519;
  font-size: 12pt;
}

h2 { font-size: 10pt; }
h3 { font-size: 8pt; }
h4 { font-size: 7pt; }

a:link, a:visited, a:hover {
  color: #fe6d17;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  width: 80%;
  color: #aeaeae;
  background-color: #aeaeae;
  height: 1px;
}

ul {
  list-style: square outside url(images/square-bullet.png);
}

table tr td {
  vertical-align: top;
}